<form id="segundoFormulario" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="tipo_panel">Tipo de Panel</label>
      {{ form.tipo_panel(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="medidas_panel">Medidas de Panel</label>
      {{ form.medidas_panel(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="resolucion">Resolución</label>
        {{ form.resolucion(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="peso">Peso</label>
        {{ form.peso(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="dimensiones">Dimensiones</label>
        {{ form.dimensiones(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="comentarios">Comentarios</label>
        {{ form.comentarios(class="form-control") }}
    </div>
</form>  